# Node modules
node_modules

# Output
dist
*.js

# Logs
logs
*.log

# User defined folders
config

# Environment variables
.env

# SonarCloud
.sonarcloud.properties

# EditorConfig
.editorconfig

# ESLint
.eslint*
eslint.config.js

# Git
.gitattributes
.gitignore

# GitHub
.github/
LICENSE
*.md

# Docker
compose.yaml
compose.*.yaml
